.form-container {
    display: flex;
    justify-content: center;
    align-items: center;


}

.form-style {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 350px;
    border-radius: 350px;
    margin-bottom: 150px;

}


.form-control {
    border-radius: 10px;
    box-shadow: 2px 1px rgb(199, 198, 198);
}

.form-control:hover {
    border-color: black !important;
    box-shadow: 2px 1px #F57538;

}

.login-form-container {

    height: 500px;
    margin-top: 100px;

}