html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
}

a {
  color: black !important;
}



#main {
  overflow: auto;
  padding-bottom: 30px;
}