.navbar-size {
    margin-top: 10px;
    box-shadow: 2px 1px 10px 4px #ccc9c9;
    background-color: #F57538;
    background: linear-gradient(90deg, rgb(235, 195, 61), #F57538, rgb(235, 195, 61));

}





.shopping-cart {
    display: flex;
    justify-content: start;
    align-items: center;
}

.circle-main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 1;
    bottom: 10px;
    right: 5px;
    background-color: black;
    color: white;

}

.LinkContainer {
    background-color: yellow !important;
}

.profile-dropdown:hover {
    color: #ebe9e9;

}

.alignment-element-img-title {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: red;

}


.img-setting {

    width: 50px;
    aspect-ratio: 3/2;
    object-fit: contain;
    margin-left: 15px;
}



@keyframes slide {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}